/**************************************
 Skills @andresshare 
***************************************/

.color{
    background-color:$cajaskillIzquierdaColor;
    color:$cajaskillIzquierdaColorFuente;
    }
        .box{
            width: 400px;
            height: 200px;
        }
        li{
            list-style-type: none;
        }
/* FIN skill */