$colorFondo:#F8F9FA;

/*home*/
$coloresdeFuentesHome:white;
$contenedorMensajeHome:rgba(39, 123, 145, 0.35);

/*Skill*/
$cajaskillIzquierdaColor:#1A2B2B;
$cajaskillIzquierdaColorFuente:white;

/*Service*/
$bg_colorCardheadersenService:#F8F9FA;
$border_colorCardheadersenService:rgba(0, 0, 0, 0.125);

/*Footer*/
$footer_bg_color:#282727;
$footer_bg_colorFuente:white;

