
/**************************************
 WORK @andresshare
****************************************/

#textoWork{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}
.cajaWork{
    height: 200px; 
}

.cajaWorkServicios{
    height: 550px;
}
.cajaServicios{
    height: 550px;
}
/*FIN-work*/